.div_m{
    flex: content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container
{
    flex: content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}